.App {
  text-align: center;
  padding: 2% 5%;
  background-color: oldlace;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 20px;
  list-style: none;
}

.logo {
  width: 100px;
}

p {
  margin: 5px 0;
}

input[type="text"], input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.city {
  width: 250px;
}

.city-search {
  display: flex;
  flex-direction: column;
  color: grey;
}

.suggestions {
  width: 250px;
  align-self: center;
  margin: 0;
  font-size: 14px;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.suggestions > li:hover {
  background-color: #BCDCDB;
}

.events {
  background-color: PapayaWhip ;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px 10px 20px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
}

.detail-btn {
  background-color: white;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px 8px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.event_name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going, .visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.numOfEventsListed {
  width: 70px;
  margin: 20px 0 50px;
  text-align: middle;
}
